@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400&display=swap");

body {
  font-family: "Inter", sans-serif;
  background-color: #f5f7fa;
  color: #395571;
}
.Header_Container {
  background-color: #ffff;
}
.color_395571 {
  color: #395571;
}
.secondColor {
  color: #acb2b9;
}

.active_link {
  color: #123354;
}
.min-w-300 {
  min-width: 300px;
}
.space_grotesk {
  font-family: "Space Grotesk", sans-serif;
}
.footerColorBg {
  background-color: #d8dde6e3;
}
.Hero__Section {
  margin-top: 200px;
  background: linear-gradient(
    0deg,
    rgba(224, 228, 234, 1) 70%,
    rgba(243, 244, 246, 1) 100%
  );
}
.Hero__Section__2 {
  padding-top: 200px;
  background-color: #e5ecf79b;
}
.Hero__Section__2 .bg-image {
  background-image: url("../public/Images/layouts-medium.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 400px;
}
.backgroundImage {
  padding: 50px 0px;
}
.Zorin_Info .info {
  min-width: 300px;
}
.loading_indicatore {
  border: 6px solid #acb2b9;
  border-bottom: solid transparent 5px;
  border-right: solid transparent 5px;
  animation: spin 1s infinite;
  filter: blur(1px);
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.figure_image {
  min-width: 300px;
  aspect-ratio: 1/1;
}
